<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F31A1A81BA199C000F477C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F41061B1A1A667700742090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F4106251A1A667800742090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F85569819C71BCF003802F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8556A319C71BCF003802F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
